<% layout("/layouts/boilerplate") %>

<div class="container mt-5 text-center">

  <h1 style="color:red;">Oops!</h1>

  <h3><%= message %></h3>

  <a href="/listings" class="btn btn-dark mt-3">
    Go Back Home
  </a>

</div>